.header {
  font-size: 1.5rem;
  padding: 10px;

  .logo {
    height: 30px;
    margin-top: 5px;
    margin-right: 10px;
    vertical-align: top;
  }

  .controls {
    .view {
      cursor: pointer;
      text-decoration: none;
      color: initial;

      &:not(:last-child) {
        margin-right: 10px;
      }

      &.active {
        font-weight: bold;
      }
    }
  }
}
