$default-color: #37474f;

.list-item {
  border-top: solid #f1f4f5 1px;

  a {
    display: block;
    background: #fff;
    color: #212529;

    &:hover {
      text-decoration: none;
      color: initial;
      background-color: #f1f4f5ad;
    }

    .card-body {
      padding: 10px;

      .list-item-wrapper {
        display: flex;
        margin-bottom: 5px;
        line-height: 1.5;

        .card-text {
          font-size: 15px;

          .repo-name {
            font-size: 14px;
            color: gray;
          }
        }
      }

      .badge {
        margin-right: 8px;
        font-size: 12px;
        font-weight: 500;
        color: #fff;
        background-color: gray;
      }
    }
  }
}
